/*
=======================================
Global
=======================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: red;
  background-color: black;
  background-image: url("pictures/background-stars.gif");
  display: grid;
  grid-template: "main"
                 "footer";
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/*
=======================================
Screen Reader Only
=======================================
*/

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

/*
=======================================
Space Jam Section
=======================================
*/

main {
  background-image: url("pictures/space-jam-logo.gif");
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

/*
=======================================
Footer
=======================================
*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  height: 20vh;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

ul a {
  font-size: smaller;
  color: rgb(210, 108, 93);
  margin: 5px;
}
